.navbar .logo img{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.navbar button{
    margin-right: 50px;
    width: 250px;
    height: 50px;
    background-color: #8f7745;
    color: #fff;
    outline: none;
    border: none;
}

.navbar button:hover{
    color: #8f7745;
    background-color: #fff;
}


.DropList
{
    color: rgb(241, 249, 255);
}
#BtnNav
{
    background-color: Transparent;
    list-style: none;
    color: rgb(255, 247, 247);
    transition: 0.1s ease-in-out;
}
#BtnNav:hover
{
    color: rgb(253, 249, 249);
}

.DropMenu
{
    position: absolute;
    z-index: 1;
    background: rgba(33, 34, 33, 0.563);
    list-style: none;
    width: 250px;
    text-align: center;
}
.videoTitle
{

    width: 500px;
    color: white;
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 1;
    font-size: 40px;
    text-align: center;
}
.videoTitle2
{

    color: white;
    position: absolute;
    left: 50%;
    top: 35%;
    z-index: 1;
    text-align: center;
}
.videoTag{
    width: 100%;
}
.containerVideo .videoTag
{
    position:relative;
    z-index:0;
}